<mat-toolbar>
  <div class="container header-container">
    <a class="logo" [routerLink]="['/']">conduit</a>
    <ul>
      <li>
        <button
          mat-button
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true,
            queryParams: 'ignored',
            paths: 'exact'
          }"
        >
          <mat-icon>home</mat-icon>
          Home
        </button>
      </li>
      @if(user$ | async; as user) {
      <li>
        <button mat-button [routerLink]="['/editor']" routerLinkActive="active">
          <mat-icon>edit_square</mat-icon>
          New post
        </button>
      </li>
      <li>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          routerLinkActive="active"
          class="profile-button"
        >
          <app-avatar
            [image]="user.image"
            [name]="user.username"
            class="avatar"
          />
          {{ user?.username }}
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="profile-menu">
          <button mat-menu-item [routerLink]="['/profile', user?.username]">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <hr />
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
      } @else {
      <li>
        <button mat-button routerLinkActive="active" [routerLink]="['/login']">
          Sign in
        </button>
      </li>
      <li>
        <button
          mat-button
          routerLinkActive="active"
          [routerLink]="['/register']"
        >
          Sign up
        </button>
      </li>
      }
    </ul>
  </div>
</mat-toolbar>
