<mat-toolbar>
  <div class="container">
    <app-logo [routerLink]="['/']" role="link" />

    <ul>
      <li>
        <app-theme-toggle />
      </li>
      @for(link of links(); track link.label) {
      <li>
        <button
          mat-button
          [routerLink]="[link.to]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [queryParamsHandling]="'preserve'"
          [class.only-icon]="link.onlyIcon"
        >
          <mat-icon>{{ link.icon }}</mat-icon>
          {{ !link.onlyIcon ? link.label : "" }}
        </button>
      </li>
      } @if(user(); as user) {
      <li>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          routerLinkActive="active"
          class="profile-button"
        >
          <app-avatar
            [image]="user.image"
            [name]="user.username"
            size="small"
          />
          <span class="profile-button-text">{{ user.username }}</span>
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="profile-menu">
          @for(link of menuLinks(); track link.label) {
          <button mat-menu-item [routerLink]="[link.to]">
            <mat-icon>{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </button>
          }
          <hr />
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
      }
    </ul>
  </div>
</mat-toolbar>
