@use "@angular/material" as mat;
@use "mixins";

:host {
  @include mat.toolbar-overrides(
    (
      container-text-color: var(--mat-sys-primary),
    )
  );
}

mat-toolbar {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.profile-button {
  max-width: 10rem;
  overflow: hidden;

  ::ng-deep .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    flex: 1;
  }

  .profile-button-text {
    flex: 1;
    @include mixins.ellipsis;
  }

  &.mat-mdc-button {
    padding-left: 0.5rem;
  }
}

.profile-menu {
  ::ng-deep &.mat-mdc-menu-panel {
    min-width: 10rem;
  }
}

.only-icon {
  padding: 0 1rem;
  min-width: 2rem;

  ::ng-deep mat-icon {
    margin: 0;
  }
}

button.active {
  ::ng-deep .mat-mdc-button-persistent-ripple::before {
    opacity: var(--mat-sys-hover-state-layer-opacity);
  }
}
