<mat-toolbar>
  <div class="container header-container">
    <a class="logo" [routerLink]="['/']">conduit</a>
    <ul>
      <li>
        <button
          mat-button
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true,
            queryParams: 'ignored',
            paths: 'exact'
          }"
        >
          <mat-icon>home</mat-icon>
          Home
        </button>
      </li>
      @if(user$ | async; as user) {
      <li>
        <button mat-button [routerLink]="['/editor']" routerLinkActive="active">
          <mat-icon>edit_square</mat-icon>
          New post
        </button>
      </li>
      <li>
        <button
          mat-button
          routerLinkActive="active"
          [routerLink]="['/settings']"
        >
          <mat-icon>settings</mat-icon>
          Settings
        </button>
      </li>
      <li>
        <button
          mat-button
          routerLinkActive="active"
          [routerLink]="['/profile', user?.username]"
        >
          <app-avatar
            [image]="user.image"
            [name]="user.username"
            class="avatar"
          />
          {{ user?.username }}
        </button>
      </li>
      <li>
        <button mat-button class="logout-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </li>
      } @else {
      <li>
        <button mat-button routerLinkActive="active" [routerLink]="['/login']">
          Sign in
        </button>
      </li>
      <li>
        <button
          mat-button
          routerLinkActive="active"
          [routerLink]="['/register']"
        >
          Sign up
        </button>
      </li>
      }
    </ul>
  </div>
</mat-toolbar>
