<div class="articles-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="[]"
        [queryParams]="{ feed: Feed.My }"
        [class.active]="feedType() === Feed.My"
      >
        My Articles
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="[]"
        [queryParams]="{ feed: Feed.Favorite }"
        [class.active]="feedType() === Feed.Favorite"
      >
        Favorited Articles
      </a>
    </li>
  </ul>
</div>
