<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  @if(isLoggedIn()) {
  <a
    mat-tab-link
    [routerLink]="[]"
    [queryParams]="{ feed: Feed.My }"
    [active]="feedType() === Feed.My"
    [disableRipple]="feedType() === Feed.My"
  >
    My Articles
  </a>
  }
  <a
    mat-tab-link
    [routerLink]="[]"
    [queryParams]="{ feed: Feed.Favorite }"
    [active]="feedType() === Feed.Favorite"
    [disableRipple]="feedType() === Feed.Favorite"
  >
    Favorited Articles
  </a>
</nav>
<mat-tab-nav-panel #tabPanel />
