@use "mixins";
@use "variables";
@use "sass:map";

.profile-user {
  padding: 2rem 0;
  background-color: var(--mat-sys-surface-container);
}

.profile-user .container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;

  h4,
  p {
    margin: 0;
    text-align: center;
  }

  h4 {
    max-width: 30rem;
    width: 100%;
    font: var(--mat-sys-headline-medium);
    @include mixins.ellipsis;
  }

  p {
    color: var(--mat-sys-outline);
    @include mixins.multi-line-ellipsis;
    width: 100%;
  }
}

.profile-actions {
  @media (min-width: map.get(variables.$breakpoints, md)) {
    align-self: flex-end;
  }
}
