@if(profile$ | async; as profile) {
<div class="profile-user">
  <div class="container">
    <app-avatar
      [image]="profile.image"
      [name]="profile.username"
      size="large"
    />
    <h4>{{ profile.username }}</h4>
    @if(profile.bio) {
    <p>
      {{ profile.bio }}
    </p>
    } @if(isLoggedIn$ | async) { @if(isAuthor$ | async) {
    <a mat-stroked-button [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      Edit Profile Settings
    </a>
    }@else { @if(profile.following) {
    <button mat-flat-button (click)="followProfile(profile)">
      <mat-icon>remove</mat-icon>
      Unfollow {{ profile.username }}
    </button>
    } @else {
    <button mat-stroked-button (click)="followProfile(profile)">
      <mat-icon>add</mat-icon>

      Follow {{ profile.username }}
    </button>
    } } }
  </div>
</div>
}
