@if(profile(); as profile) {
<div class="profile-user">
  <div class="container">
    <app-avatar
      appViewTransition="profile-avatar"
      [transitionId]="profile.username"
      [image]="profile.image"
      [name]="profile.username"
      size="large"
    />
    <h4 appViewTransition="profile-name" [transitionId]="profile.username">
      {{ profile.username }}
    </h4>
    @if(profile.bio) {
    <p>
      {{ profile.bio }}
    </p>
    } @if(isLoggedIn()) {
    <div class="profile-actions">
      @if (isAuthor()) {
      <a mat-stroked-button [routerLink]="['/settings']">
        <mat-icon>settings</mat-icon>
        Edit Profile Settings
      </a>
      } @else {
      <app-toggle-button
        [active]="profile.following"
        (toggle)="followProfile(profile)"
        [notInteract]="isSubmittingFollow()"
      >
        <mat-icon>{{ profile.following ? "remove " : "add " }}</mat-icon>
        {{ profile.following ? "Unfollow " : "Follow " }}
        {{ profile.username }}
      </app-toggle-button>
      }
    </div>
    }
  </div>
</div>
}
