.article-banner {
  padding: 2rem 0;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
}

.article-title {
  overflow-wrap: break-word;
}

.article-banner .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-controls {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

app-profile {
  flex: 1;
}
