.article-page {
  padding-bottom: 1.5rem;
}

.article-page .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
}

hr {
  width: 100%;
  margin: 0;
}
