@if(isLoading()){
<mat-progress-bar mode="indeterminate" />
} @if(article(); as article) {
<div class="article-page">
  <app-article-banner [article]="article" />

  <div class="container">
    <div class="article-info">
      <p class="article-body" [innerHTML]="article.body | markdown"></p>

      @if(article.tagList.length) {
      <app-tags
        appViewTransition="article-tags"
        [transitionId]="article.slug"
        [tags]="article.tagList"
        variant="outlined"
      />
      }
    </div>
    @if(isLoggedIn()) {
    <hr />
    <app-comments />
    }
  </div>
</div>

}
