@if(isLoading$ | async){
<p>loading...</p>
} @if(article$ |async; as article) {
<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <div class="article-meta">
        <a [routerLink]="['/profiles', article?.author?.username]">
          <img [src]="getAvatar(article)" />
        </a>
        <div class="info">
          <a
            [routerLink]="['/profiles', article?.author?.username]"
            class="author"
          >
            {{ article?.author?.username }}
          </a>
          <span class="date">{{ article?.createdAt | date }}</span>
        </div>

        @if(isAuthor$ | async) {
        <a
          [routerLink]="['/editor', article?.slug]"
          class="btn btn-sm btn-outline-secondary"
        >
          <i class="ion-edit"></i>
          Edit Article
        </a>
        <button class="btn btn-sm btn-outline-danger">
          <i class="ion-trash-a"></i>
          Delete Article
        </button>
        }
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p [innerHTML]="article.body"></p>

        @if(article.tagList.length) {
        <ul class="tag-list">
          @for(tag of article.tagList; track tag) {
          <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
          }
        </ul>
        }
      </div>
    </div>
    <hr />
    <app-article-actions
      [article]="article"
      (favorite)="favoriteArticle(article)"
    />
    <app-comments />
  </div>
</div>
}
