<div class="article-comments">
  <mat-card appearance="outlined" class="article-form">
    <form #form>
      <textarea
        #comment
        class="form-control"
        placeholder="Write a comment..."
        rows="3"
      ></textarea>
      <div class="article-form-footer">
        <app-avatar
          [name]="(user$ | async)?.username ?? ''"
          [image]="(user$ | async)?.image"
        />
        <button
          mat-flat-button
          (click)="addComment(form)"
          [disabled]="isSubmitting$ | async"
        >
          Post Comment
        </button>
      </div>
    </form>
  </mat-card>
  @if(isLoading$ | async) {
  <p>Loading comments...</p>
  } @else { @if(comments$ | async; as comments) {
  <div class="comments-container">
    @for(comment of comments; track comment.id) {
    <app-comment [comment]="comment" (delete)="deleteComment($event)" />
    }
  </div>
  } }
</div>
