<div class="article-comments">
  <mat-card appearance="outlined" class="article-form">
    <form #form>
      <textarea
        #comment
        class="form-control"
        placeholder="Write a comment..."
        rows="4"
        [disabled]="isSubmitting()"
      ></textarea>
      <div class="article-form-footer">
        <app-avatar
          [name]="user()?.username ?? ''"
          [image]="user()?.image ?? null"
          size="small"
        />
        <button
          mat-flat-button
          (click)="addComment(form)"
          [disabled]="isSubmitting()"
        >
          Post Comment
        </button>
      </div>
    </form>
  </mat-card>
  @if(isLoading()) {
  <app-loading [fullWidth]="true" />
  } @else if(comments()) {
  <div class="comments-container">
    @for(comment of comments(); track comment.id) {
    <app-comment
      [comment]="comment"
      (delete)="deleteComment($event)"
      [isDeleting]="comment.id === deletingCommentId()"
    />
    }
  </div>
  }
</div>
