<mat-card class="article-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <app-profile
        [profile]="article().author"
        [subtitle]="article().createdAt | date"
    /></mat-card-title>

    <app-toggle-button
      [active]="article().favorited"
      (toggle)="favoriteArticle(article())"
      [disabled]="!isLoggedIn() || isSubmittingFavorite()"
    >
      <mat-icon>favorite</mat-icon> {{ article().favoritesCount }}
    </app-toggle-button>
  </mat-card-header>
  <mat-card-content [routerLink]="['/article', article().slug]">
    <mat-card-title>{{ article().title }}</mat-card-title>
    <p class="card-body">{{ article().description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <app-tags [tags]="article().tagList" variant="outlined"></app-tags>
  </mat-card-footer>
</mat-card>
