<mat-card class="article-card" appearance="outlined">
  <div class="article-card-header">
    <app-profile
      appViewTransition="article-profile"
      [transitionId]="article().slug"
      [profile]="article().author"
      [subtitle]="article().createdAt | date"
    />
    <app-toggle-button
      [active]="article().favorited"
      (toggle)="favoriteArticle(article())"
      [notInteract]="!isLoggedIn() || isSubmittingFavorite()"
    >
      <mat-icon>favorite</mat-icon> {{ article().favoritesCount }}
    </app-toggle-button>
  </div>
  <mat-card-content (click)="selectArticle(article())">
    <mat-card-title
      appViewTransition="article-title"
      [transitionId]="article().slug"
    >
      {{ article().title }}
    </mat-card-title>
    <p class="card-body">{{ article().description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <app-tags
      appViewTransition="article-tags"
      [transitionId]="article().slug"
      [tags]="article().tagList"
      variant="outlined"
    />
  </mat-card-footer>
</mat-card>
