@use "mixins";

:host {
  overflow: hidden;
  min-width: 10rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;

  .profile-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }

  app-avatar {
    cursor: pointer;
  }

  .profile-name {
    cursor: pointer;
    font: var(--mat-sys-title-medium);
    @include mixins.ellipsis;
  }

  .profile-subtitle {
    color: var(--mat-sys-outline);
    font: var(--mat-sys-body-small);
  }
}

.horizontal {
  .profile-info {
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
  }

  .profile-name {
    font-size: 0.875rem;
    flex: 1;
  }
}
