<div class="settings-page container">
  <h2>Your Settings</h2>
  @if(errors(); as errors) {
  <app-error-messages [errors]="errors" class="errors" />
  }

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Avatar</mat-label>
      <input
        matInput
        type="text"
        formControlName="image"
        placeholder="URL of profile picture"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="Your Name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bio</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="bio"
        placeholder="Short bio about you"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid || isSubmitting()"
    >
      Update Settings
    </button>
  </form>
</div>
