<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  @if(isLoggedIn$ | async) {
  <a
    mat-tab-link
    [routerLink]="[]"
    [queryParams]="{ feed: Feed.Your }"
    [active]="feedType() === Feed.Your"
    [disableRipple]="feedType() === Feed.Your"
  >
    Your Feed
  </a>
  }
  <a
    mat-tab-link
    [routerLink]="[]"
    [queryParams]="{ feed: Feed.Global }"
    [active]="feedType() === Feed.Global"
    [disableRipple]="feedType() === Feed.Global"
  >
    Global Feed
  </a>
  @if(tag() && feedType() === Feed.Tag) {
  <a
    mat-tab-link
    [active]="feedType() === Feed.Tag"
    [disableRipple]="feedType() === Feed.Tag"
  >
    <mat-icon fontIcon="tag" />
    {{ tag() }}
  </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel />
