@use "@angular/material" as mat;

.tags ::ng-deep .mdc-evolution-chip-set__chips {
  margin-left: -4px;
}

.tags .tag {
  margin-left: 4px;
}

.tag {
  height: 1.5rem;
  cursor: pointer;
}

.tag ::ng-deep .mdc-evolution-chip__action--primary {
  padding: 0 4px;
  cursor: pointer;
}

.tag {
  @include mat.chips-overrides(
    (
      label-text-font: var(--mat-sys-body-medium-font),
      label-text-weight: var(--mat-sys-body-medium-weight),
      container-shape-radius: 1rem,
    )
  );
}

.outlined {
  @include mat.chips-overrides(
    (
      outline-color: var(--mat-sys-outline),
      label-text-color: var(--mat-sys-outline),
    )
  );
}

.filled {
  @include mat.chips-overrides(
    (
      outline-color: var(--mat-sys-outline),
      label-text-color: var(--mat-sys-surface),
      elevated-container-color: var(--mat-sys-outline),
    )
  );
}
