@use "@angular/material" as mat;
@use "mixins";

.tag {
  max-height: 1.5rem;

  @include mat.chips-overrides(
    (
      label-text-font: var(--mat-sys-body-medium-font),
      label-text-weight: var(--mat-sys-body-medium-weight),
      container-shape-radius: 1rem,
    )
  );

  &.mdc-evolution-chip {
    margin: 0;
  }

  ::ng-deep .mdc-evolution-chip__cell {
    cursor: pointer;
    overflow: hidden;
  }

  ::ng-deep .mdc-evolution-chip__action {
    cursor: pointer;
    overflow: hidden;
  }

  ::ng-deep .mat-mdc-chip-action-label {
    @include mixins.ellipsis;
  }
}

.outlined {
  @include mat.chips-overrides(
    (
      outline-color: var(--mat-sys-outline),
      label-text-color: var(--mat-sys-outline),
    )
  );
}

.filled {
  @include mat.chips-overrides(
    (
      outline-color: var(--mat-sys-outline),
      label-text-color: var(--mat-sys-surface),
      elevated-container-color: var(--mat-sys-outline),
    )
  );
}

.tags {
  ::ng-deep .mdc-evolution-chip-set__chips {
    display: flex;
    gap: 0.25rem;
    margin: 0;
  }
}
