<div class="home-page">
  <app-feed-banner />

  <div class="container">
    <div class="content">
      <div>
        <app-feed-toggle [feedType]="feedType()" [tag]="tag()" />
        @if(isLoading()) {
        <app-loading [fullWidth]="true" size="4rem" />
        } @else {
        <app-feed-articles />
        <app-feed-pagination
          [total]="articlesCount()"
          [page]="page()"
          [pageSize]="limit"
          (handlePage)="handlePageChange($event)"
        />
        }
      </div>
      <app-feed-tags />
    </div>
  </div>
</div>
