@use "variables";

.home-page {
  padding-bottom: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  width: 100%;

  & > * {
    overflow: hidden;
  }

  @media (max-width: map-get(variables.$breakpoints, sm)) {
    grid-template-columns: 1fr;
  }
}

app-loading {
  margin-top: 2rem;
}
