.card {
  overflow: hidden;
}

.card-body {
  padding: 1rem;
}

.card-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--mat-sys-outline-variant);
  padding: 0.5rem 1rem;
  background-color: var(--mat-sys-surface-container);
}

.comment-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: var(--mat-sys-title-small);
}

.comment-author {
  text-decoration: none;
  color: var(--mat-sys-primary);
}

.comment-date {
  color: var(--mat-sys-outline);
  font: var(--mat-sys-body-small);
}

.remove-button {
  height: 2rem;
  min-width: 4rem;
  padding: 0;
  mat-icon {
    margin: 0;
  }
}
