<mat-card class="card" appearance="outlined">
  <div class="card-body">
    <p>
      {{ comment().body }}
    </p>
  </div>
  <div class="card-footer">
    <div class="comment-profile">
      <app-avatar
        [routerLink]="['/profile', comment().author.username]"
        [name]="comment().author.username"
        [image]="comment().author.image"
      />
      <a
        [routerLink]="['/profile', comment().author.username]"
        class="comment-author"
      >
        {{ comment().author.username }}
      </a>
      <span class="comment-date">{{ comment().createdAt | date }}</span>
    </div>
    @if(isAuthor$ | async) {
    <button mat-stroked-button (click)="deleteComment()" class="remove-button">
      <mat-icon>delete</mat-icon>
    </button>
    }
  </div>
</mat-card>
