<mat-card class="card" appearance="outlined">
  <div class="card-body">
    <p>
      {{ comment().body }}
    </p>
  </div>
  <div class="card-footer">
    <app-profile
      [profile]="comment().author"
      [subtitle]="comment().createdAt | date"
      orientation="horizontal"
    />
    @if(isAuthor()) {
    <button
      mat-stroked-button
      (click)="deleteComment()"
      class="remove-button"
      [disabled]="isDeleting()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
  </div>
</mat-card>
