.card {
  overflow: hidden;
}

.card-body {
  padding: 1rem;
  overflow-wrap: break-word;
}

.card-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--mat-sys-outline-variant);
  padding: 0.5rem 1rem;
  background-color: var(--mat-sys-surface-container);
}

.remove-button {
  height: 2rem;
  min-width: 4rem;
  padding: 0;
  mat-icon {
    margin: 0;
  }
}
