<div class="article-actions">
  @if(isAuthor()) {
  <button
    mat-stroked-button
    [routerLink]="['/editor', article().slug]"
    class="edit-button"
  >
    <mat-icon>edit</mat-icon>
    Edit Article
  </button>

  <button
    mat-stroked-button
    (click)="deleteArticle(article().slug)"
    class="remove-button"
  >
    <mat-icon>delete</mat-icon>
    Delete Article
  </button>

  } @else {
  <app-toggle-button
    [active]="article().author.following"
    (toggle)="followProfile(article().author)"
    [notInteract]="isSubmittingFollow()"
  >
    <mat-icon>{{ article().author.following ? "remove " : "add " }}</mat-icon>
    {{ article().author.following ? "Unfollow " : "Follow " }}
    {{ article().author.username }}
  </app-toggle-button>

  <app-toggle-button
    [active]="article().favorited"
    (toggle)="favoriteArticle(article())"
    [notInteract]="isSubmittingFavorite()"
  >
    <mat-icon>favorite</mat-icon>
    Favorite Article ({{ article().favoritesCount }})
  </app-toggle-button>
  }
</div>
