@use "@angular/material" as mat;

.article-actions {
  display: flex;
  gap: 0.5rem;
  margin: 0;
}

:host {
  .edit-button {
    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--mat-sys-outline),
        outlined-outline-color: var(--mat-sys-outline),
      )
    );
  }

  .remove-button {
    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--mat-sys-error),
        outlined-outline-color: var(--mat-sys-error),
      )
    );
  }
}
