<div class="auth-page container">
  <div class="auth-header">
    <h1>Sign in</h1>
    <a [routerLink]="['/register']">Need an account?</a>
  </div>

  @if(errors$ | async; as errors) {
  <app-error-messages [errors]="errors" class="errors" />
  }

  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button mat-flat-button [disabled]="isSubmitting$ | async" type="submit">
      Sign in
    </button>
  </form>
</div>
